<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link href="{{ url_for('static', filename='../static/css/styles.css') }}" rel="stylesheet" />
    <title>Búsqueda de inventario</title>
</head>

<body>

    {% block body %}
    {%endblock%}

</body>

</html>